<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>模块配置 - Tgideas 模块化系统</title>
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
	<link href="http://game.gtimg.cn/images/js/mocha/mocha-1.1.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/system.css">
	<style>
		body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
		h4{font-size:18px;}
		
		html{font-size:100px;}
		body{font-size:0.14rem;}
	</style>
</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:;">模块化系统</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/html/">首页</a></li>
					<li><a href="/html/list/">专题列表</a></li>
					<li><a href="/html/user">个人中心</a></li>
					<li><a href="/html/manage">系统管理</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><button type="button" class="btn btn-warning navbar-btn" onclick="window.location.href='/html/create/new-init.html'">新建专题</button></li>
					<!-- 未登录时显示 -->
					<!--<li><a href="#">请先登录</a></li>-->
					<!-- 登录后显示 -->
					
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							欢迎你，sonichuang<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="">个人中心</a></li>
							<li><a href="">菜单项一</a></li>
							<li><a href="">菜单项二</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="">退出</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav><!--/.navbar -->
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="new-init.html">专题属性</a></li>
					<li class="active">
						<a href="new-pages.html">页面管理</a>
						<ul class="nav nav-sidebar-sub">
							<li role="presentation" class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
									专题首页 <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">专题首页</a></li>
									<li><a href="#">活动说明页</a></li>
									<li><a href="#">活动奖品页</a></li>
									<li><a href="#">中奖公示页</a></li>
								</ul>
							</li>
							<li><a href="new-layout.html">布局选择</a></li>
							<li><a href="new-frame.html">框架定制</a></li>
							<li class="active"><a href="new-module.html">模块配置</a></li>
							<li><a href="new-page.html">页面配置</a></li>
							<li><a href="new-page.html">预览提交</a></li>
							<li><a href="new-page.html">活动说明页</a></li>
						</ul>
					</li>
					<li><a href="new-preview.html">预览发布</a></li>
				</ul>
			</div><!--/.sidebar -->
			<div id="main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">				
				<h1 class="page-header">模块配置</h1>

				<!-- row(框架定制表单) -->
				<div class="row">
					<div class="col-md-8 page-preview-box">
						<!-- 框架编辑体 -->
						<div class="ppb-content">
							<!-- <p class="page-preview-box-tips">从右侧拖拽模块</p> -->
							<!--
							<ul class="list-group list-drag-drop-group interactive-drag-drop-group">
							</ul>-->
							
							<div class="mocha-wrapper">
								 <!-- v-bind:style="{ background-color: nav1_moduleBg }"  -->
								<header class="mocha-nav mocha-navigation-scheme1 mocha-nav-skin1" v-bind:style="{ backgroundColor: '#' + nav1_moduleBg }">
									<div class="mocha-nav-cover"></div>
									<a href="{{nav1_picLink}}" class="mocha-nav-logo">
										<img src="" v-bind:src="nav1_picUrl"  alt="{{nav1_mainTitle}}">
										<div class="mocha-nav-logo-desc"><h1>{{nav1_mainTitle}}</h1><h2>{{nav1_subTitle}}</h2></div>
									</a>
									<a href="{{nav1_followLink}}" class="mocha-nav-btn">{{nav1_followTitle}}</a>
								</header>
							</div>
							
							<div class="mocha-wrapper">
								<div class="mocha-title" v-bind:class="title1_skin">
									<h3 class="mocha-title-txt">{{title1_txt}}</h3>
									<div class="mocha-title-extra">
										<template v-for="linkUrl in title1_loopLink">
											<a href="{{ linkUrl.url }}">{{ linkUrl.text }}</a>
										</template>
									</div>
								</div>
							</div>

							<div class="mocha-wrapper"><a href="javascript:;" class="mocha-button mocha-button-scheme1 mocha-button-skin1">主按钮</a></div>
							<div class="mocha-wrapper"><div class="mocha-txt-list mocha-txt-list-scheme2 mocha-txt-list-skin1"><ul class="mocha-txt-list-ul"><li class="mocha-tlu-item"><cite class="mocha-tlu-item-icon style1">公告</cite><h4 class="mocha-tlu-item-title"><a href="javascript:;">11月新八本本爆料：木桩世界BOSS</a></h4><p class="mocha-tlu-item-meta"><em>我叫MT运营团队</em><time>11/03</time></p></li></ul></div></div>
							<div class="mocha-wrapper"><div class="mocha-pic-list mocha-pic-list-scheme2"><ul class="mocha-pic-list-ul"><li class="mocha-pic-list-item"><a href="javascript:;"><img width="100%" src="http://dummyimage.com/400x400/222/fff.png&amp;text=&lt;img&gt;" alt="" class="pic"></a></li><li class="mocha-pic-list-item"><a href="javascript:;"><img width="100%" src="http://dummyimage.com/400x400/222/fff.png&amp;text=&lt;img&gt;" alt="" class="pic"></a></li></ul></div></div>
						</div>
					</div>
					<div class="col-md-6">
						<form id="" class="form-horizontal">
							<div class="row">
								
								<!-- 全局配置 -->
								<div class="panel panel-warning">
									<div class="panel-heading"><h3 class="panel-title">页面全局配置</h3></div>
									<div class="panel-body">
										<ul class="list-group">
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">背景颜色</label>
												<div class="col-sm-8">
													<input type="text" class="form-control" value="#">
												</div>
											</li>
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">背景图片</label>
												<div class="col-sm-8">
													<input type="file" class="form-control" value="#">
												</div>
												<label for="" class="control-label col-sm-4">背景图是否平铺</label>
												<div class="col-sm-8">
													<label class="radio-inline col-sm-3"><input id="" name="pageBgRepeat[]" type="radio">是</label>
													<label class="radio-inline col-sm-3"><input id="" name="pageBgRepeat[]" type="radio">否</label>
												</div>
											</li>
										</ul>
									</div>
								</div>

								<!-- 模块配置(导航模块) -->
								<div class="panel panel-info panel-module-config">
									<div class="panel-heading"><h3 class="panel-title">模块配置（导航模块）</h3></div>
									<!-- 
										1. 图片上传
										2. 可选内容（是否锁定在顶部）
										3. 文字输入框（导航背景色）
										4. 文字输入框（主标题）
										5. 文本输入框（副标题）
										6. 文本输入框（关注按钮名称）
										7. 文本输入框（关注按钮链接）
									 -->
									<div class="panel-body">
										<ul class="list-group">
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">App图标</label>
												<div class="col-sm-8">
													<input v-model="nav1_picUrl" type="file" class="form-control" value="#">
												</div>
											</li>
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">是否锁定在顶部</label>
												<div class="col-sm-8">
													<select id="" name="" class="form-control">
														<option value="" selected="selected">请选择</option>
														<option value="">是</option>
														<option value="">否</option>
													</select>
												</div>
											</li>
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">导航背景色</label>
												<div class="col-sm-8">
													<input v-model="nav1_moduleBg" type="text" class="form-control">
												</div>
											</li>
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">主标题{{nav1_mainTitle}}</label>
												<div class="col-sm-8">
													<input v-model="nav1_mainTitle" type="text" class="form-control">
												</div>
											</li>
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">副标题</label>
												<div class="col-sm-8">
													<input v-model="nav1_subTitle" type="text" class="form-control">
												</div>
											</li>	
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">关注按钮名称</label>
												<div class="col-sm-8">
													<input v-model="nav1_followTitle" type="text" class="form-control">
												</div>
											</li>
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">关注按钮链接</label>
												<div class="col-sm-8">
													<input v-model="nav1_followLink" type="text" class="form-control">
												</div>
											</li>
										</ul>
									</div>
								</div>
								
								<!-- 模块配置(标题模块) -->
								<div class="panel panel-info panel-module-config">
									<div class="panel-heading"><h3 class="panel-title">模块配置（标题模块）</h3></div>
									<!-- 
										1. 样式选择下拉框
										2. 标题文字
										3. 循环内容（链接名，链接地址）
									 -->
									<div class="panel-body">
										<ul class="list-group">
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">样式选择</label>
												<div class="col-sm-8">
													<select id="" name="" class="form-control" v-model="title1_skin">
														<option>请选择</option>
														<option value="mocha-title-skin1">样式1</option>
														<option value="mocha-title-skin2">样式2</option>
														<option value="mocha-title-skin3">样式3</option>
													</select>
												</div>
											</li>
											<li class="form-group list-group-item">
												<label for="" class="control-label col-sm-4">标题文字</label>
												<div class="col-sm-8">
													<input v-model="title1_txt" type="text" class="form-control">
												</div>
											</li>
											<li class="form-group list-group-item">
												<label id="labelLoopContent1" for="" class="control-label col-sm-4">连接个数</label>
												<div class="col-sm-4">
													<input v-model="text1_text" type="number" class="form-control loop-content-config-handle">
												</div>
												<div class="col-sm-1"><button type="button" v-on:click="newLoopLink" class="btn btn-default loop-content-generate-btn">生成</button></div>
												<div class="clearfix"></div>
												<div class="list-group-loop-content-box"></div>
											</li>
										</ul>
									</div>
								</div>
								
								<!-- 模块配置(按钮模块) -->
								<div class="panel panel-info panel-module-config">
									<div class="panel-heading"><h3 class="panel-title">模块配置（按钮模块）</h3></div>
									<!-- 
										1. 样式选择下拉框
									 -->
									<div class="panel-body">

									</div>
								</div>

								<!-- 模块配置(文字列表模块) -->
								<div class="panel panel-info panel-module-config">
									<div class="panel-heading"><h3 class="panel-title">模块配置（文字列表模块）</h3></div>
									<!-- 
										1. 样式选择下拉框
									 -->
									<div class="panel-body">

									</div>
								</div>

								<!-- 模块配置(图片列表模块) -->
								<div class="panel panel-info panel-module-config">
									<div class="panel-heading"><h3 class="panel-title">模块配置（图片列表模块）</h3></div>
									<!-- 
										1. 样式选择下拉框
									 -->
									<div class="panel-body">

									</div>
								</div>
							</div>

							<div class="col-md-8 text-center">
								<button type="button" class="btn btn-lg btn-success" onclick="window.location.href='new-frame.html'">下一步</button>
							</div>
						</form>
					</div>

				</div><!--/.row(框架定制表单) -->


			</div><!--/.main -->
		</div><!--/.row -->
	</div><!--/.container-fluid -->

	<script src="http://game.gtimg.cn/images/js/jquery/jquery-1.9.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
	<script>
		(function(){
			$("div.ppb-content .mocha-wrapper").hover(function(){
				$(this).addClass("hover").siblings().removeClass("hover");
			},function(){
				$(this).removeClass("hover");
			});

			$("div.ppb-content").on("click",".mocha-wrapper",function(){
				$(this).removeClass("hover").addClass("current").siblings().removeClass("current");
				var index = $("div.ppb-content .mocha-wrapper").index($(this));
				$("div.panel-module-config").hide().eq(index).show();
			})


			// 循环体事件绑定
			$("div.panel-body").on("click",".loop-content-generate-btn",function(){
				var _self = $(this),
					handle = _self.parents("li.list-group-item").find(".loop-content-config-handle"),
					handleVal = parseInt(handle.val());
					loopContentHTML = "";

				var setInput = '<li class="form-group list-group-item"><label for="" class="control-label col-sm-4">链接名称</label><div class="col-sm-7"><input type="text" class="form-control" value="文本输入"></div><div class="col-sm-0"></div></li>';
					setInput+= '<li class="form-group list-group-item"><label for="" class="control-label col-sm-4">链接地址</label><div class="col-sm-7"><input type="text" class="form-control" value="链接地址"></div><div class="col-sm-0"></div></li>';
				
				if( handleVal>3 ) return
				for(i=0; i<handleVal; i++){
					loopContentHTML+= '<ul class="list-group">';
					loopContentHTML+= '<li class="form-group list-group-item"><button type="button" class="close btn-remove-loop-content" aria-label="Close"><span aria-hidden="true">×</span></button><span class="label label-info">第'+(i+1)+'次循环</span></li>';
					loopContentHTML+= setInput;
					loopContentHTML+= '</ul>';
				}
				_self.parents("li.list-group-item").find(".list-group-loop-content-box").html(loopContentHTML);
			});


		})()
	</script>
	<script>
		// 模块(导航模块)所见既所得(vue.js双向绑定)
		var vueAsyncData = new Vue({
			el: '#main',
			data: {
				// nagigation ---------
				nav1_picUrl: '#',
				nav1_picLink: '#',
				nav1_isFixed: '',
				nav1_moduleBg: '',
				nav1_mainTitle: '游戏名称',
				nav1_subTitle: '副标题',
				nav1_followTitle: '关注',
				nav1_followLink: '#',

				// title ----------
				title1_txt: '标题文字哈',
				title1_skin: 'mocha-title-skin2',
				title1_loopLink: [
					{ text: 'Link1', url: 'www.qq.com' },
					{ text: 'Link2', url: 'www.tencent.com' }
				]
			},
			methods: {
				newLoopLink: function(){


				},
				addLoopLink: function(){

				}

			}
		})


	</script>

</body>
</html>