/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus{
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar-sub{display: none;background-color: #fff;margin:10px 0 10px 20px;border-radius:0.5em;}
.active .nav-sidebar-sub{display: block;}
.nav-sidebar-sub > .active > a,
.nav-sidebar-sub > .active > a:hover,
.nav-sidebar-sub > .active > a:focus{
    color: #111;
    background-color: #ddd;
}

/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/* manage
---------------------------------- */
.module-drag,.module-config{padding:20px;}
.module-drag-box,.module-config-box{width: 480px;border: 1px solid #ddd;min-height:560px;background-color: #f9f9f9;margin-right:20px;}
.module-drag-box .list-group-item,.module-config-box .list-group-item
{color: #8a6d3b;background-color: #fcf8e3;}
.module-config-box,.module-config-group{max-height:600px;overflow-y:auto;}
.btn-remove-loop-content{margin:4px 10px 0 0;}
.textarea-filling-code{margin-top:20px;}
.list-drag-drop-group .placeholder{border:2px solid #f00;background-color: #fff4b9;height:0;margin:0;}
.list-group .list-group-item.dragged{position: absolute;}
.list-drag-group button.close{display: none;}
.form-horizontal .nav-tabs{margin-bottom:20px;}

.interactive-drag-drop-group .list-group-item{color: #8A6D3E;background-color: #fcf8e3;}
.interactive-drag-group {box-shadow:none;margin:0;}
.interactive-drag-group .list-group-item{display: inline-block;width:18.6666%;background:none;border:none;}
.interactive-drag-drop-group .list-group-item img{display: none;}

/* create
---------------------------------- */
.page-preview-box{position: relative;width:491px;padding:107px 58px 150px 58px;margin-right:40px;background:url(/images/iphone6-mockup.png);}
.page-base-info{margin:10px 0 0 10px;padding:20px;background-color: #fdfdfd;border:1px solid #eee;border-radius:3px;border-left:5px solid #5bc0de;}
.page-preview-box-tips{position: absolute;width:76%;top:40%;font-size:2em;color: #ccc;text-align: center;}








