<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
</head>
<body>
<div id="wrap">

  <div class="app">
      <h3>{{message}}</h3>
      <input v-model="message" type="text">
  </div>

  <div class="app4">
      <h3>{{message}}</h3>
     
  </div>
  <div class="app4">
      <h3>{{message}}</h3>
      <input v-model="message" type="text">
  </div>

  <div class="app3">
      <h3><img src="{{url}}" alt="" width="200" height="200"></h3>
      <input v-model="url" type="file">
  </div>

</div>

<script>
new Vue({
  el: '#wrap',
  data: {
    message: 'Hello Vue.js!',
  }
})
new Vue({
  el: '#wrap',
  data: {
    message: 'Hi Vue',
  }
})
new Vue({
  el: '.app3',
  data: {
    url: ''
  }
})
</script>

</body>
</html>